html{
  background-color: #d3d3cd;
}
h1{
  font-family: 'Oswald', sans-serif;
  font-size: 3.8rem;
  color: #818076;
  line-height: .8;
}
ol{
  list-style-type: circle;
}
.earth{
  list-style-type: square;
  color: #164ade;
}
h2{
  font-family: 'Oswald', sans-serif;
}
figcaption{
  font-style: italic;
  font-size: .5rem;
}
.m{
  list-style-type: disc;
  color: #f0c04d;
}
.v{
  list-style-type: disc;
  color: #f0c04d
}
blockquote{
  font-style: italic;
  font-weight: bold;
  font-size: 2.5rem;
}
dt{
  font-weight:bold ;
  font-size: 1.5rem;
}
dd{
  font-size: 1.5rem;
}
h2{
  font-size: 2.5rem;
  color: #818076;
}
h3{
  font-size: 2.5rem;
  color: #818076;
}
a{
  color: #7a6501;
  font-size: 1.3rem;
}
cite{
  color: #7f7b50;
  font-size: 1.5rem;
}
strong{
  color: purple;
  font-weight: normal;
}
p{
  font-family: 'Oxygen', sans-serif;
  font-size: 2rem;
}
li{
  font-size: 2rem;
}
